.box{

  font-family: Arial;
  text-align: center;
  width: 500px;
  height: 200px;
  border: 1px solid black;
  background-color: aqua;
  margin: 20px;

  
}

.userName{
  text-align: left;
    color: black;
    border: 1px solid green;
    
   
    
}

img{
    position: relative;
    right: 0px;
    bottom: 0px;
}